BAND_NAME=cephalophoria
BASE_ROOT=C:\Users\TonPrénom\Desktop\cephalophoria
GP_FOLDER=C:\Users\TonPrénom\Desktop\cephalophoria\tabs
DAW_FOLDER=C:\Users\TonPrénom\Desktop\cephalophoria\daw
NOTES_FILE=C:\Users\TonPrénom\Desktop\cephalophoria\notes.md
METRO_URL=https://www.metronome-en-ligne.com/
#METRO_URL=https://metronome.soundbrenner.com/ 

GP_VERSION=GuitarPro7